<% content_for :upper_functions do %>
  <%= link_to raw('&larr;')+' Back to outposts', outposts_path %>
<% end %>

<%= render @outpost %>
<div class="details">
  <%= render @outpost.location%>
</div>
